.site-layout {
  .l-header {
    background: #fff;
  }
}
.ant-menu-inline-collapsed {
  width: 50px;
}
.l-header {
  display: flex;
  justify-content: space-between;
}
.sbike-window-info {
  .bold {
    font-weight: 400;
  }
  .device-off {
  }
  .device-on {
    color: green;
    font-weight: bold;
  }
}
.fb-notify-container {
  border: 1px solid #fa8c16;
}
.fb-notify-title {
  font-weight: 500;
  color: #000;
}
